:root {
	--background-0: #f9f9fa;
	--background-1: #ededf0;
}

*[hidden] {
	display: none !important;
}

body {
	font-family: Lato, sans-serif;
	margin: 0;
	background: var(--background-0);
	color: black;
	font-size: large;
}

main {
	max-width: 80ex;
	margin: 2ex auto;
	padding: 1ex;
}

a {
	text-decoration: none;
}
.stats-item:hover,
a:hover {
	background: dodgerblue;
	color: black;
	background: #45a1ff;
}

/* main page */

#banner {
	display: table;
	width: 60ex;
	margin: 25vh auto 3ex;
}

#bigsearch-group {
	width: 60vw;
	margin: 0 auto 5ex;
}
#bigsearch-input-group,
#search-input-group {
	margin-bottom: 2ex;
	border: solid 0.3ex dodgerblue;
	border-radius: 1ex;
	padding: 1.5ex 1.5ex 0.6ex;
}
#bigsearch-input-group > label,
#search-input-group > label {
	display: table;
	padding: 0 1.5ex;
	background: var(--background-0);
	margin-top: -1.5em;
	margin-left: 1ex;
	background: dodgerblue;
	border-radius: 0.5ex;
}
#bigsearch-input-group > input,
#search-input-group > input {
	all: unset;
	width: 100%;
	font-size: xx-large;
	margin-top: 0.3ex;
}

#bigsearch-bottom {
	display: grid;
	grid-gap: 1ex;
	grid-template-columns: auto 1fr auto;
}
#bigsearch-random {
	display: inline-block;
	margin-left: 5ex;
	text-decoration: none;
}

#stats-group {
	width: 60vw;
	display: flex;
	margin: 0 auto 5ex;
	padding: 0;
	flex-wrap: wrap;
	list-style: none;
}
.stats-item {
	display: block;
	margin: 1ex;
	padding: 1.5ex;
	flex-basis: 20ex;
	background: var(--background-1);
}
.stats-nb {
	display: block;
	font-size: 400%;
}

/* Header for result page */

header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 2ex;
	padding: 1ex 2ex;
	background: var(--background-1);
}
#beacon,
#menu-button > img {
	display: block;
	width: 5ex;
}

#header-title {
	font-weight: bold;
	font-size: xx-large;
}

#search-input-group {
	margin-bottom: 2ex;
	border: solid 0.3ex dodgerblue;
	border-radius: 1ex;
	padding: 1.5ex 1.5ex 0.6ex;
}
#search-input-group > label {
	margin-top: -1.75em;
	font-size: small;
}
#search-input-group > input {
	font-size: inherit;
}

label[for=search-sort] {
	margin-left: 3ex;
}

/* LOGIN */

#login-group {
	font-size: xx-large;
	width: 50ex;
	margin: 5ex auto;
}
#login-group > a {
	display: block;
	margin: 1ex 0;
	padding: 0.5ex;
	text-align: center;
	background: var(--background-1);
	text-decoration: none;
	color: inherit;
}
#login-group > a:hover {
	background: dodgerblue;
}

/* MENU */

#menu-group {
	max-width: 50ex;
	margin: 5ex auto;
	padding: 1ex;
}
.menu-subgroup {
	margin: 2ex 0;
}
.menu-item {
	display: table;
	text-decoration: none;
}
